
.slow-hide {
    opacity: 0;
    transform: translateX(-1000px);
    transition: opacity 2000ms ease-in-out 1500ms,
    transform 3000ms ease-in-out 1000ms;
}
.slow-hide * {
    background-color: #0000;
    color: #0000;
    opacity: 0;
    transition: 
    background-color 500ms ease-in-out 500ms, 
    opacity 1000ms ease-in-out 1000ms,
    color 500ms ease-in-out 1000ms;
}


/* End of Page */
.btmspace{
    height: 89px;
    width: 100%;
    user-select: none;
}
.name-end{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 5%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color .5s ease-out;
}
.name-end:hover{
    position: fixed;
    bottom: 5px;
    right: 12px;
    color: hsla(210, 89%, 29%, 50%);
    font-size: 24pt;
    font-family: 'Satisfy', cursive;
    user-select: none;
    transition: color 1s ease-out 2s;
}
.hidden{
    display: none;
}