
:root{

    /* Color */
    --hc0: hsla(36, 100%, 50%, 100%);
    --hc1: hsla(72, 100%, 50%, 100%);
    --hc2: hsla(108, 100%, 50%, 100%);
    --hc3: hsla(144, 100%, 50%, 100%);
    --hc4: hsla(180, 100%, 50%, 100%);
    --hc5: hsla(216, 100%, 50%, 100%);
    --hc6: hsla(252, 100%, 50%, 100%);
    --hc7: hsla(288, 100%, 50%, 100%);
    --hc8: hsla(324, 100%, 50%, 100%);
    --hc9: hsla(360, 100%, 50%, 100%);

    --c0: hsla(36, 50%, 50%, 100%);
    --c1: hsla(72, 50%, 50%, 100%);
    --c2: hsla(108, 50%, 50%, 100%);
    --c3: hsla(144, 50%, 50%, 100%);
    --c4: hsla(180, 50%, 50%, 100%);
    --c5: hsla(216, 50%, 50%, 100%);
    --c6: hsla(252, 50%, 50%, 100%);
    --c7: hsla(288, 50%, 50%, 100%);
    --c8: hsla(324, 50%, 50%, 100%);
    --c9: hsla(360, 50%, 50%, 100%);

    /* Glow */
    --glow-0: hsla(36, 50%, 50%, 40%);
    --glow-1: hsla(72, 50%, 50%, 40%);
    --glow-2: hsla(108, 50%, 50%, 40%);
    --glow-3: hsla(144, 50%, 50%, 40%);
    --glow-4: hsla(180, 50%, 50%, 40%);
    --glow-5: hsla(216, 50%, 50%, 40%);
    --glow-6: hsla(252, 50%, 50%, 40%);
    --glow-7: hsla(288, 50%, 50%, 40%);
    --glow-8: hsla(324, 50%, 50%, 40%);
    --glow-9: hsla(360, 50%, 50%, 40%);
    
    /* Background color */
    --bc0: hsla(36, 60%, 10%, 100%);
    --bc1: hsla(72, 60%, 10%, 100%);
    --bc2: hsla(108, 60%, 10%, 100%);
    --bc3: hsla(144, 60%, 10%, 100%);
    --bc4: hsla(180, 60%, 10%, 100%);
    --bc5: hsla(216, 60%, 10%, 100%);
    --bc6: hsla(252, 60%, 10%, 100%);
    --bc7: hsla(288, 60%, 10%, 100%);
    --bc8: hsla(324, 60%, 10%, 100%);
    --bc9: hsla(360, 60%, 10%, 100%);

    --cx: hsl(200, 100%, 50%);
    --hcx: hsla(200, 100%, 50%, 100%);
    --glow-x: hsla(200, 50%, 50%, 40%);
    --bcx: hsla(200, 60%, 10%, 100%);




    /* Advance Color */
    --cx: 0;
    --c0: 36;
    --c1: 72;
    --c2: 108;
    --c3: 144;
    --c4: 180;
    --c5: 216;
    --c6: 252;
    --c7: 288;
    --c8: 324;
    --c9: 360;

    --hcx: hsla(var(--cx), 100%, 50%, 100%);
    --mcx: hsl(var(--cx), 50%, 50%);
    --glow-x: hsla(var(--cx), 50%, 50%, 40%);
    --bcx: hsla(var(--cx), 60%, 10%, 100%);

















    /* Shadow & Glow */

    --glow:
    inset 0 0 0px 1px #0aff,
    inset 0 0 2px 2px #0afa,
    inset 0 0 4px 3px #0af5,
    0 0 0px 1px #0aff,
    0 0 2px 2px #0afa,
    0 0 4px 3px #0af5;
    --glow-1:
    inset 0 0 0px 1px #0aff,
    inset 0 0 2px 1px #0afa,
    inset 0 0 4px 1px #0af5,
    0 0 0px 1px #0aff,
    0 0 2px 2px #0afa,
    0 0 4px 3px #0af5;
    --glow-2:
    inset 0 0 2px 1px #0aff,
    inset 0 0 4px 2px #0afa,
    inset 0 0 6px 3px #0af5,
    0 0 2px 1px #0aff,
    0 0 4px 2px #0afa,
    0 0 6px 3px #0af5;

}