

:root {

    /* --text-clr: rgb(240, 240, 240); */
    --shadow-txt: 1px 1px 1px #000;
    --shadow-box: 1px 1px 1px #000;

    --shadow-party: 10px 0 0 10px hsla(180, 100%, 50%, 50%),
                    0 10px 0 10px hsla(300, 100%, 50%, 50%),
                    0 0 0 10px hsla(60, 100%, 50%, 50%);


    /* xa */
    --xa-bg: #0000;
    --xa-b: #0000;

    --xa--1: #2FF9;
    --xa-0: #111;
    --xa-1: #A33;
    --xa-2: #EC4;
    --xa-3: #2A4;
    --xa-4: #159;
    --xa-5: #82B;

    --xai-h: 20px;
    --xai-w: 100px;
    --xai-m: 4px;


    /* Current */
    /* --xa-w: 79vw; */
    /* --xa-cols: 9vw repeat(7, 10vw); */

    /* --xahs-w: 9vw; */
    /* --xas-w: 10vw; */

    --xa-w: 790px;
    --xa-cols: 90px repeat(7, 100px);

    --xahs-w: 90px;
    --xas-w: 100px;

    --xa-h: calc(100vh - 60px);
}



.xa {
    outline: 1px solid var(--glow-x);
    height: var(--xa-h); width: var(--xa-w);
    margin: 12px auto;
    background: var(--bcx);
    overflow: scroll;
}
.xaw {
    height: var(--xa-h); width: var(--xa-w);
    margin: 0 auto;

    display: grid;
    grid-template-columns: var(--xa-cols);
    grid-gap: 0px;
}

.xaht {
    height: 28px;
    overflow: hidden;
}

.xah,
.xa--colh {
    position: relative;
    top: 0px;
    left: 0%;

    height: var(--xai-h);
    padding: 4px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.xah {
    box-shadow: inset -1px -1px 1px #fff5;
}
.xa--colh {
    font-size: 16px;
    font-weight: 600;
    box-shadow: inset 0 -1px 0 #fffc, 
                inset -1px 0 0 #fff7;
    line-height: 1.5;
}
/* .xah:hover,
.xa--colh:hover {
    transform: translateX(-100%);
    transition: transform 100ms ease-in-out;
} */
/* .xa--colh > .xas {
    font-size: 16px;
    font-weight: 200;
    box-shadow: 0 1px 0 #fff5;
    line-height: 1;
} */
/* .xags {
} */

.xaic{
    height: 28px;
    overflow: hidden;
}
.xai {
    position: relative;
    top: 0px;
    left: 0%;

    user-select: none;
    
    color: #fff;
    text-shadow: var(--shadow-txt);
    height: var(--xai-h);
    /* width: max-content; */
    /* margin: 4px auto; */
    padding: 4px 0px;
    text-align: center;

    border: 0px dashed var(--xa-b);
    background-color: var(--xa-bg);
    transition: transform 100ms ease-in-out;
    text-overflow: ellipsis;
    
    box-shadow: inset -1px -1px 0px #0005;
}
.xai:hover {
    transform: translateX(-100%);
    transition: transform 100ms ease-in-out;
}


.xa-undefined, .xa--1{
    border: 1px dashed var(--xa-b);
    --xa-b: #2FF9;
    --xa-bg: #0000;
}
.xa-0 { --xa-bg: var(--xa-0); }
.xa-1 { --xa-bg: var(--xa-1); }
.xa-2 { --xa-bg: var(--xa-2); }
.xa-3 { --xa-bg: var(--xa-3); }
.xa-4 { --xa-bg: var(--xa-4); }
.xa-5 { --xa-bg: var(--xa-5); }


.xas {
    position: absolute;
    top: 0;
    left: 100%;

    margin: 0px;
    height: var(--xai-h); width: var(--xas-w);
    padding: 4px 0px;

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    border: 0px dashed var(--xa-b);
    background-color: var(--xa-bg);

    box-shadow: inset -1px -1px 0px #0005;
}

.xah .xas,
.xa--colh .xas {
    height: var(--xai-h);
    z-index: 1;
}

.xah .xas {
    width: 90px;
}
.xa--colh .xas {
    width: 100px;
}

div[class|="xa-btn"]{
    height: 18px; width: 18px;
    background-color: var(--xa-bg);
    margin: 1px;
    text-align: center;
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 100ms ease-in-out;
}
div[class|="xa-btn"]:hover{
    transform: scale(1.1);
    transition: transform 100ms ease-in-out;
}
.xa-btn-0{ --xa-bg: var(--xa-0); }
.xa-btn-1{ --xa-bg: var(--xa-1); }
.xa-btn-2{ --xa-bg: var(--xa-2); }
.xa-btn-3{ --xa-bg: var(--xa-3); }
.xa-btn-4{ --xa-bg: var(--xa-4); }



.xa-0 .xa-btn-0 { display: none; }
.xa-1 .xa-btn-1 { display: none; }
.xa-2 .xa-btn-2 { display: none; }
.xa-3 .xa-btn-3 { display: none; }
.xa-4 .xa-btn-4 { display: none; }
