

:root {
    --bright: hsl(50, 100%, 50%);

    --shadow-txt: 1px 1px 1px #000;
    --shadow-box: 1px 1px 1px #000;

    --shadow-party: 10px 0 0 10px hsla(180, 100%, 50%, 50%),
                    0 10px 0 10px hsla(300, 100%, 50%, 50%),
                    0 0 0 10px hsla(60, 100%, 50%, 50%);

    --shadow-bright: 5px 0 0 5px hsla(180, 100%, 50%, 50%),
                    0 5px 0 5px hsla(300, 100%, 50%, 50%),
                    0 0 0 5px hsla(60, 100%, 50%, 50%);
    --shadow-bright-off: 0px 0 0 0px hsla(180, 100%, 50%, 50%),
                    0 0px 0 0px hsla(300, 100%, 50%, 50%),
                    0 0 0 0px hsla(60, 100%, 50%, 50%);

    --shadow-xal-add: 5px 0 0 5px hsla(180, 100%, 50%, 50%),
                    0 5px 0 5px hsla(300, 100%, 50%, 50%),
                    0 0 0 5px hsla(60, 100%, 50%, 50%);

    --xali-bgi: 
            linear-gradient(45deg, #1230 36%, #f250 42%, #4560 44%, #7890),
            linear-gradient(45deg, #123, #456, #789);

    /* xa */
    --xa--1: #2FF9;
    --xa-0: #111;
    --xa-1: #A33;
    --xa-2: #EC4;
    --xa-3: #2A4;
    --xa-4: #159;
    --xa-5: #82B;


    --xai-bg-l: 10%;
    --xai-bg-0: hsla(0, 0%, 5%, 0.89);
    --xai-bg-1: hsla(0, 54%, var(--xai-bg-l), 0.89);
    --xai-bg-2: hsla(48, 83%, var(--xai-bg-l), 0.89);
    --xai-bg-3: hsla(135, 67%, var(--xai-bg-l), 0.89);
    --xai-bg-4: hsla(210, 80%, var(--xai-bg-l), 0.89);

    --xai-txt-l: 70%;
    --xai-txt-0: hsla(0, 0%, 54%, 89%);
    --xai-txt-1: hsla(0, 54%, var(--xai-txt-l), 89%);
    --xai-txt-2: hsla(48, 83%, var(--xai-txt-l), 89%);
    --xai-txt-3: hsla(135, 67%, var(--xai-txt-l), 89%);
    --xai-txt-4: hsla(210, 80%, var(--xai-txt-l), 89%);

    --xas-btn-bg--1: #2FF1;
    --xas-btn-bg-0: #111;
    --xas-btn-bg-1: #A33;
    --xas-btn-bg-2: #EC4;
    --xas-btn-bg-3: #2A4;
    --xas-btn-bg-4: #159;

    --xas-tip-s: 80%;
    --xas-tip-l: 60%;
    --xas-tip-txt--1: hsla(180, 100%, 57%, 0.6);
    --xas-tip-txt-0: hsla(0, 0%, 89%, 89%);
    --xas-tip-txt-1: hsla(0, var(--xas-tip-s), var(--xas-tip-l), 89%);
    --xas-tip-txt-2: hsla(48, var(--xas-tip-s), var(--xas-tip-l), 89%);
    --xas-tip-txt-3: hsla(135, var(--xas-tip-s), var(--xas-tip-l), 89%);
    --xas-tip-txt-4: hsla(210, var(--xas-tip-s), var(--xas-tip-l), 89%);

    --xas-tip-bg-l: 10%;
    --xas-tip-bg-a: 89%;
    --xas-tip-bg-0: hsla(0, 0%, 5%, var(--xas-tip-bg-a));
    --xas-tip-bg-1: hsla(0, 54%, var(--xas-tip-bg-l), var(--xas-tip-bg-a));
    --xas-tip-bg-2: hsla(48, 83%, var(--xas-tip-bg-l), var(--xas-tip-bg-a));
    --xas-tip-bg-3: hsla(135, 67%, var(--xas-tip-bg-l), var(--xas-tip-bg-a));
    --xas-tip-bg-4: hsla(210, 80%, var(--xas-tip-bg-l), var(--xas-tip-bg-a));

    --bgi: linear-gradient(45deg, #123, #456, #789);

    /* Current */
    /* --xa-w: 79vw; */
    /* --xa-cols: 9vw repeat(7, 10vw); */

    /* --xahs-w: 9vw; */
    /* --xas-w: 10vw; */

    --xav-h: calc(100vh - 40px);
    --xav-w: 1000px;

    --xai-h: 24px;
    --xai-w: 100px;
    --xai-m: 4px;

    --xa-h: calc(100vh - 60px);
    --xa-w: 800px;
    --xa-cols: repeat(8, 100px);

    --xahs-w: 100px;
    --xas-w: 100px;

    --xa-bg: #0000;
    --xa-b: #0000;

    --xas-btn-sz: 18px;
    --xas-btn-m: -6px;
    --xas-btn-m2: calc(var(--xas-w) - (var(--xas-btn-sz)*5) - 4);


    /* xai: */
    --xai-bg: var(--xai-bg-0); 
    --xai-txt: var(--xai-txt-0); 

    /* btn: */
    --xas-btn-bg: var(--xas-btn-bg-0);
    --xas-btn-txt: white;

    /* tip: */
    --xas-tip-bg: var(--xas-tip-bg-0);
    --xas-tip-txt: var(--xas-tip-txt-0);

    /* xal */
    --xal-h: calc( var(--xai-h) * 25);
}


.xaView{
    max-height: var(--xav-h);
    height: max-content; width: var(--xav-w);
    margin: 0px auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0px;
}

.xa {
    max-height: var(--xa-h);
    height: max-content; width: var(--xa-w);
    margin: 0px auto;

    display: grid;
    grid-template-columns: var(--xa-cols);
    grid-gap: 0px;
}
.xaw {
    grid-column: 1 / 9;

    position: relative;
    top: 0px;

    max-height: var(--xa-h);
    height: max-content; width: var(--xa-w);
    margin: 0 auto;

    display: grid;
    grid-template-columns: var(--xa-cols);
    grid-auto-rows: minmax(20px, 24px);
    grid-gap: 0px;

    background: var(--bcx);
    outline: 1px solid var(--glow-x);

    overflow: scroll;
}

/* Heading Title: for days Sunday to Saturday. */
.xaht {
    height: var(--xai-h);
    overflow: hidden;
}

.xah,
.xa--colh {
    position: relative;
    top: 0px;
    left: 0%;
    height: var(--xai-h);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hour Column: for all cells in the left column that mark the hour. */
.xah {
    box-shadow: inset -1px -1px 1px #fff5;
}
/* Column Heading: for the heading row. */
.xa--colh {
    font-size: 16px;
    font-weight: 600;
    box-shadow: inset 0 -1px 0 #fffc, 
                inset -1px 0 0 #fff7;
    line-height: 1.5;
}

.xaic{
    position: relative;
    top: 0px;
    height: var(--xai-h);
}
.xai {
    position: relative;
    top: 0px;

    height: var(--xai-h);
    width: var(--xai-w);

    color: var(--xai-txt);
    text-shadow: var(--shadow-txt);
    text-align: center;
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0px dashed var(--xa-b);
    background-color: var(--xai-bg);
    
    box-shadow: inset -1px -1px 0px #0005;

    user-select: none;
}

.xa-undefined, .xa--1{
    border: 1px dashed var(--xa-b);
    --xa-b: #2FF9;
    --xa-bg: #0000;
}
.xa-0 { --xa-bg: var(--xa-0); /* xai: */ --xai-bg: var(--xai-bg-0); --xai-txt: var(--xai-txt-0); }
.xa-1 { --xa-bg: var(--xa-1); /* xai: */ --xai-bg: var(--xai-bg-1); --xai-txt: var(--xai-txt-1); }
.xa-2 { --xa-bg: var(--xa-2); /* xai: */ --xai-bg: var(--xai-bg-2); --xai-txt: var(--xai-txt-2); }
.xa-3 { --xa-bg: var(--xa-3); /* xai: */ --xai-bg: var(--xai-bg-3); --xai-txt: var(--xai-txt-3); }
.xa-4 { --xa-bg: var(--xa-4); /* xai: */ --xai-bg: var(--xai-bg-4); --xai-txt: var(--xai-txt-4); }
.xa-5 { --xa-bg: var(--xa-5); /* xai: */ --xai-bg: var(--xai-bg-5); --xai-txt: var(--xai-txt-5); }


.xas {
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    height: var(--xai-h); width: var(--xas-w);

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    border: 0px dashed var(--xa-b);
    background-color: #0000;

    box-shadow: inset -1px -1px 0px #0005;

    user-select: none;
}

.xah .xas,
.xa--colh .xas {
    height: var(--xai-h);
}

.xah .xas {
    width: 90px;
    width: var(--xai-w);
}
.xa--colh .xas {
    width: 100px;
}

#xahh {
    grid-column: 1 / 2;
}

.xaic div[class|="xas-btn"]{
    position: relative; 
    top: 0;
    height: var(--xas-btn-sz); width: var(--xas-btn-sz);
    background-color: var(--xas-bg);
    margin: 1px;
    text-align: center;
    cursor: pointer;

    transform-origin: 50% 100%;
    transform: rotateY(30deg) rotateX(-90deg);
    transition: transform 100ms ease-in-out;
}
.xaic:hover div[class|="xas-btn"] {
    transform: rotateY(0deg) rotateX(0deg);
    transition: transform 200ms cubic-bezier(0.29, 0.02, 0.6, 2.1) 100ms;
}

.xas-btn-0{ --xas-bg: var(--xas-btn-bg-0); }
.xas-btn-1{ --xas-bg: var(--xas-btn-bg-1); }
.xas-btn-2{ --xas-bg: var(--xas-btn-bg-2); }
.xas-btn-3{ --xas-bg: var(--xas-btn-bg-3); }
.xas-btn-4{ --xas-bg: var(--xas-btn-bg-4); }

.xas-btn-0{ 
    /* btn: */ --xas-btn-bg: var(--xa-bg-0);
    /* tip: */ --xas-tip-bg: var(--xas-tip-bg-0); --xas-tip-txt: var(--xas-tip-txt-0); }
.xas-btn-1{ 
    /* btn: */ --xas-btn-bg: var(--xa-bg-1);
    /* tip: */ --xas-tip-bg: var(--xas-tip-bg-1); --xas-tip-txt: var(--xas-tip-txt-1); }
.xas-btn-2{ 
    /* btn: */ --xas-btn-bg: var(--xa-bg-2);
    /* tip: */ --xas-tip-bg: var(--xas-tip-bg-2); --xas-tip-txt: var(--xas-tip-txt-2); }
.xas-btn-3{ 
    /* btn: */ --xas-btn-bg: var(--xa-bg-3);
    /* tip: */ --xas-tip-bg: var(--xas-tip-bg-3); --xas-tip-txt: var(--xas-tip-txt-3); }
.xas-btn-4{ 
    /* btn: */ --xas-btn-bg: var(--xa-bg-4);
    /* tip: */ --xas-tip-bg: var(--xas-tip-bg-4); --xas-tip-txt: var(--xas-tip-txt-4); }


.xas-btn-0:hover::after, 
.xas-btn-1:hover::after, 
.xas-btn-2:hover::after, 
.xas-btn-3:hover::after, 
.xas-btn-4:hover::after {
    content: 'Not Available'; 
    position: absolute; 
    top: -110%; 
    left: 0%;
    height: 100%;
    width: calc(var(--xai-w) - 2px);

    color: var(--xas-tip-txt);
    background: var(--xas-tip-bg);
    outline: 1px solid var(--xas-tip-txt);
    z-index: 1;
}

.xas-btn-0:hover::after{ left: 0px; content: 'Not Available'; }
.xas-btn-1:hover::after{ left: -20px; content: 'Busy'; }
.xas-btn-2:hover::after{ left: -40px; content: 'Distracted'; }
.xas-btn-3:hover::after{ left: -60px; content: 'Available'; }
.xas-btn-4:hover::after{ left: -80px; content: 'Optimal'; }


*[class|="xae"] {
    margin: 4px;
}
#xae-tog ~ .xae-panel,
#xae-tog ~ *[class|="xae-panel"],
#xae-tog:not(:checked) ~ .xaw .xas,
#xae-tog:checked ~ *[class|="xae-display"] {
    display: none;
    visibility: collapse;
    opacity: 0;
    transition: opacity 400ms ease-in-out 200ms;
}
#xae-tog:checked ~ .xae-panel,
#xae-tog:checked ~ *[class|="xae-panel"],
#xae-tog ~ *[class|="xae-display"] {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: opacity 400ms ease-in-out 200ms;
}

label[class|="xae-panel"] {
    position: relative;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
    width: max-content;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 400ms ease-in-out 200ms;
}

#xae-tog ~ .xae-tog {
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
    padding: 4px 8px;
    box-shadow: inset 0 0 0 1px #28f;
}

/* ♦ .xae-tog → Toggle Edit Mode ♦ */
#xae-tog:not(:checked) ~ .xae-tog {
    position: relative;

    grid-column: 1;
    z-index: 1;

    font-size: 14px;
    
    transition: font-size 500ms ease-in-out, background-color 500ms ease-in-out;
}
#xae-tog:checked ~ .xae-tog {
    position: relative;
    top: 0%;
    left: 0%;
    grid-column: 1;

    font-size: 16px;
    background: #28f;
    
    transition: font-size 500ms ease-in-out, background-color 500ms ease-in-out;
}
#xae-tog ~ .xae-tog::after {
    content: 'Off';
    inset: 0;
    padding-left: 4px;
}
#xae-tog:checked ~ .xae-tog::after {
    content: 'On';
}

/* ♦ .xae-panel-title → Edit Title ♦ */
.xae-panel-title {
    grid-column: 2 / 5;
    padding: 0px 4px;
}

/* ♦ .xae-panel-save → Save Title ♦ */
.xae-panel-save {
    color: #444;
    grid-column: 5 / 6;
    background-color: #444;
    border: 1px solid #ccc;
    padding: 2px 2px;
    font-size: 14px;
}
.xae-panel-save::before {
    content: '💾';
    position: relative;
    inset: 0;
    height: 16px;
    top: -2px;
}
.xae-panel-save[data-state='4']::before {
    content: '❗';
}
.xae-panel-save[data-state]::after {
    inset: 0;
    height: 16px;
}
.xae-panel-save::after {
    content: '';
}
.xae-panel-save[data-state='0']::after {
    content: 'Save?';
}
.xae-panel-save[data-state='1']::after {
    content: 'Saving...';
}
.xae-panel-save[data-state='2']::after {
    content: 'Saved!';
}
.xae-panel-save[data-state='4']::after {
    content: 'Missing Name';
    font-size: 12px;
}

/* ♦ .xae-panel-sleep → Toggle Sleep Hours ♦ */
#xae-sleep ~ .xae-panel-sleep {
    color: #fff;
    background-color: #225;
    border: 2px dotted;
    padding: 2px 2px;
    font-size: 14px;
}
#xae-sleep:checked ~ .xae-panel-sleep {
    border-radius: 8px;
}
#xae-sleep ~ .xae-panel-sleep::before {
    content: 'Hide';
    inset: 0;
    padding-right: 4px;
}
#xae-sleep:checked ~ .xae-panel-sleep::before {
    content: 'Show';
}

/* ♦ .xae-panel-colors → Toggle Colors ♦ */
#xae-colors:not(:checked) ~ .xae-panel-colors {
    color: #fff;
    background-color: #012D;
    border: 1px solid;
    padding: 4px;
    font-size: 14px;
    box-shadow: var(--shadow-bright-off);
    transition: box-shadow 100ms ease-in-out;
}
#xae-colors:not(:checked) ~ .xae-panel-colors:hover {
    box-shadow: var(--shadow-bright);
    transition: box-shadow 1s ease-in-out;
}

#xae-colors:checked ~ .xae-panel-colors {
    border-radius: 10px;
    text-shadow: var(--shadow-txt);
    background-color: var(--bright);
    box-shadow: var(--shadow-bright);
    transition: box-shadow 100ms ease-in-out;
}
#xae-colors:checked ~ .xae-panel-colors:hover {
    border-radius: 5px;
    box-shadow: unset;
    transition: box-shadow 1s ease-in-out;
}
#xae-colors ~ .xae-panel-colors::before {
    content: 'Dark';
    inset: 0;
    padding-right: 4px;
    box-shadow: unset;
    transition: box-shadow 100ms ease-in-out;
}
#xae-colors:checked ~ .xae-panel-colors::before {
    content: 'Bright';
    box-shadow: unset;
    transition: box-shadow 1s ease-in-out;
}
#xae-colors:checked ~ .xaw .xai {
    color: #fff;
    background-color: var(--xa-bg);
}

/* ♦ .xae-panel-time → Toggle Time ♦ */
#xae-time ~ .xae-panel-time {
    width: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2f2;
    background-color: #1518;
    border: 1px solid;
    padding: 2px 8px;
    font-size: 14px;
}
#xae-time:checked ~ .xae-panel-time {
    border-radius: 8px;
}
#xae-time ~ .xae-panel-time::after {
    content: 'AM/PM';
    inset: 0;
    margin: 0px auto;
    text-align: center;
}
#xae-time:checked ~ .xae-panel-time::after {
    content: 'hrs';
}
.xae-panel-share,
.xae-keepanel-share {
    font-size: 16px;
    color: white;
    grid-column: 8;
    cursor: pointer;
    width: max-content;
    margin: 4px auto;
    padding: 2px 8px;
    border-radius: 5px;
    background-image: linear-gradient(0deg, #aaa, #888, #555);
    box-shadow: inset 0px 3px 0px 0px #eee,
                inset 0px -3px 0px 0px #444;
    transition: font-size 500ms ease-in-out, background-color 500ms ease-in-out;
}
#xae-tog:not(:checked) ~ .xae-keepanel-share {
    height: 20px;
    font-size: 14px;
    color: black;
    background-image: linear-gradient(0deg, #aaa, #888, #555);
    box-shadow: inset 0px 3px 2px 0px #eee,
                inset 0px -3px 3px 0px #282828;
    transition: 
    font-size 500ms ease-in-out, 
    color 500ms ease-in-out, 
    box-shadow 500ms ease-in-out, 
    background-color 500ms ease-in-out;
}

.xae-hide {
    position: absolute;
    display: none;
}
.xae-display-title{
    color: white;
    font-size: 20px;
    font-weight: 600;
    grid-column: 2 / 5;
    height: 20px;
}
.xal {
    max-height: var(--xa-h);
    height: var(--xal-h);
    width: 180px;
    margin: 5px auto;
    margin-top: 32px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #28f,
                inset 0 0 2px 2px #28f8,
                0 0 0 1px #28f,
                0 0 2px 2px #28f8;
    user-select: none;
}

.xal-title {
    color: white;
    font-weight: 600;
    box-shadow: 
    -4px 0px 0px 0px #000,
    4px 0px 0px 0px #000,
    0 1px 0 0 #28f,
    0 2px 2px 0 #28fa,
    0 4px 4px 0px #28f5;
    margin: 4px 8px 8px 8px;
    padding: 4px 8px;
}

.xal > ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: calc(var(--xal-h) - 40px);
    overflow: scroll;
}

.xali {
    cursor: pointer;
    margin: 4px; padding: 4px;
    box-shadow: 
    0 1px 0 0 #fff8,
    0 2px 1px -1px #fffa;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    grid-gap: 2px;
}
.xali-displaying {
    position: relative;
    top: 0;
    cursor: unset;
    background-color: #5555;
    background-image: var(--xali-bgi);
    background-size: 300%;
    background-position: 0%;
    transition: background-position 1s ease-in-out;
}
.xali-displaying:hover {
    background-color: #1234;
    background-image: var(--xali-bgi);
    background-position: 100%;
    transition: background-position 3s ease-in-out;
}
.xali-displaying::before {
    content: '◂';
    position: relative;
    top: 0; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xali > div[data-xali-toggle] {
    /* outline: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 4px;
}

div[class|="xali-btn"] {
    height: 20px; width: 20px;
    color: #fff;
    transform: scale(1);
    cursor: pointer;
    padding: 0px 0px 2px 1px; 
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    justify-self: center;
    align-self: center;
}
div[class="xali-btn-combine"]:hover {
    color: #2d4;
    background-color: #061;
    transform: scale(1.1);
    transition: color 100ms ease-in-out, transform 100ms ease-in-out;
}
div[class="xali-btn-combine"], .xali-btn-combine {
    background-color: #092;
}

div[class="xali-btn-delete"], .xali-btn-delete{
    background-color: #500;
}
div[class="xali-btn-delete"]:hover{
    color: #e44;
    transform: scale(1.1);
    transition: color 100ms ease-in-out, transform 100ms ease-in-out;
}

.xali-displaying > div[class="xali-btn-combine"]{
    display: none;
}
.xali-displaying > div[class="xali-btn-delete"]{
    display: none;
}

.xal-add {
    margin-top: 16px;
    margin-bottom: 16px;
    outline: unset;
    border: 2px dashed var(--xa--1);
    box-shadow: none;
    border-radius: 5px;

    display: flex;
    align-content: center;
    justify-content: center;
}
.xal-add:hover{
    box-shadow: var(--shadow-xal-add);
    transition: box-shadow 300ms ease-in-out;
}
